{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form, render_field %}

{% block content %}
    <h1 class="display-2">Szukanie koloru</h1>
    <p class="lead">
       Podaj kolor, a wyszukam bardzo podobny w palecie barw <em>Tikkurila</em>
    </p>

    <div class="d-flex justify-content-center align-items-center container rgb">
        <div class="flex-row">
            <div class="col-12 text-center">
                <form action="/" class="form-inline text-center" method="POST" role="form">
                    {{ form.hidden_tag() }}     
                    
                    {{ render_field(form.r) }}
                    {{ render_field(form.g) }}
                    {{ render_field(form.b) }}
                    <div class="form-group">
                            {{ render_field(form.submit) }}
                    </div>

                </form>
            </div>
        </div>  
    </div>

    <div class="container results">
            <div class="row justify-content-center align-content-center">
                {% if color %}
                    <div class="col-md-6 text-center justify-content-center align-content-center gallery"
                    style="background-color: rgb{{ color }}">
                        <h2>SZUKANY</h2>
                    </div>
                {% endif %}
            </div>

            <div class="row justify-content-center align-content-center">
                    {% if content %}
                        {% for color in content %}
                            <div class="col-md-4 justify-content-center align-content-center gallery"  
                            style="background-color: rgb{{ color[1] }}">
                                <h2><a href="{{ color[2] }}">{{ color[0] }}</a></h2>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
    </div>
{% endblock %}