body {
    padding-top: 100px;
    background-color: #e9ebe6;
    color: #3f3244;
}

h2 {
    font-weight: 300;
}

h2 a {
    color: #9ea09e;
}

.form-inline {
    width: 100%;
  }

.form-inline label {
    margin-right: 10px;
}

.form-inline .form-group {
    margin-left:10px;
  }


.rgb {
    margin-top:50px;
}


.btn-file {
    position: relative;
    overflow: hidden;
}

.form-inline > .form-group {
    vertical-align: top;
}




footer {
    background-color: #e6e9e6;
    margin-top: 50px;
    padding: 50px;
}

footer a {
    color: #2A2C24;
}

.gallery {
    height: 200px;
    width: 100%;
    text-align: center;
    border: 10px solid #e9ebe6;
    padding: 70px;
}

.results {
    margin-top: 80px;
    margin-bottom: 80px;
}